/* RESET AND GENERAL */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: antiquewhite;
}


/* LANDING PAGE */

.landing-page {
  display: flex;
  height: 100vh;
  position: relative;
}

.titolo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%);
  font-size: 6.5rem;
  font-family: 'Cormorant Garamond', serif;
  color: #d73641;
  text-shadow: 7px 4px 0px #530202;
}

/* ASIDE */

aside {
  width: 120px;
  background-color: #e13741;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 35px 0;
}

.socials {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 3rem;
}

.socials a {
  margin: 15px 0;
}

.socials a:hover {
  color: rgb(40, 40, 40);
}

.email {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 1.5rem;
  /* color: rgba(40, 40, 40, 0.8); */
  color: #e3e3e3;
  margin-bottom: 95px;
}

/* HERO FOTO */


.hero-photo{
  width: calc(50%);
  height: 100%;
  object-fit: cover;
}




/* BIO */

.bio {
  width: calc(50%);
  background-color: #282727;
  color: #e3e3e3;
  padding: 0 170px;
  padding-top: 200px;
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  overflow: auto;
}



/* PHOTO GALLERY */

.photo-gallery {
  background-color: #c2c2c28d;
  padding: 30px 0;
}

.photo-gallery .container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 15px; */
}


.card-container {
  width: calc(100% / 4);
  padding: 10px;
}
.card {
  
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.card img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 0 -15px;
  margin-bottom: 20px;
}

.card p {
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  padding: 2px 5px;
}