/* ROOT AND VARIABLES */
:root {
  --bio-background-color: rgba(244, 244, 244, 0.347);
  --bio-text-color: rgb(41, 41, 41);
  --aside-color: #e13741;
  --titolo-color: #d73641;
  --photo-gallery-background-color: rgb(216, 177, 86);
  --card-description-background-color: rgba(78, 78, 78, 0.743);
}



/* RESET AND GENERAL */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.container {
  width: 85%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

body {
  font-family:'Playfair Display', serif;
}

/* LANDING PAGE */

.landing-page {
  display: flex;
  height: 100vh;
  position: relative;
}

.titolo {
  width: 100%;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%);
  font-size: 6.5rem;
  font-family: 'Cormorant Garamond', serif;
  color: var(--titolo-color);
  text-align: center;
}

/* ASIDE */

aside {
  width: 120px;
  background-color: var(--aside-color);
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 35px 0;
}

.socials {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 3rem;
}

.socials a {
  margin: 15px 0;
}

.socials a:hover {
  color: rgb(40, 40, 40);
}

.email {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 1.5rem;
  /* color: rgba(40, 40, 40, 0.8); */
  color: #e3e3e3;
  margin-bottom: 95px;
}

/* HERO FOTO */


.hero-photo{
  width: calc(50%);
  height: 100%;
  object-fit: cover;
}




/* BIO */

.bio {
  width: calc(50%);
  background-color: var(--bio-background-color);
  color: var(--bio-text-color);
  /* padding: 0 170px; */
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
}

.bio-container {
  /* border: 1px solid black; */
  height: 78%;
  margin-top: 170px;
  overflow: auto;
  padding: 0 130px;
}


/* PHOTO GALLERY */

.photo-gallery {
  background-color: var(--photo-gallery-background-color);
  padding-bottom: 30px;
}

.photo-gallery h2 {
  color: white;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
  padding-top: 25px;
}

.photo-gallery .container {
  display: flex;
  flex-wrap: wrap;
}


.card-container {
  width: calc(100% / 4);
  padding: 10px;
}
.card {
  /* border: 1px solid black; */
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 3px 10px 0px black;
}

.card img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card p {
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  padding: 2px 5px;
  color: #e3e3e3;
}

.card-description {
  background-color: rgba(78, 78, 78, 0.743);
  padding-top: 15px;
}

/* ARTICOLI */

.articoli {
  height: 100vh;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
}

.articoli h2 {
  color: white;
  text-align: center;
  margin: 50px 0;
  font-size: 2.5rem;
}

.press-container {
  display: flex;
  align-items: center;
}

.articolo-container {
  width: calc(100% / 3);
  text-align: center;
  padding: 0 15px;
}

.articolo-container h3 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

iframe {
  width: 100%;
  height: calc(100vh - 250px);
  padding: 10px 0;
}


/* MOBILE RESPONSIVE */

@media (max-width: 768px) {

  .titolo {
    font-size: 4.5rem;
    top: 125px;
  }

  .landing-page {
    flex-direction: column;
    height: 100%;
  }

  aside {
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
  }

  .socials {
    flex-direction: row;
  }

  .socials i {
    padding: 0 5px;
  }

  .email {
    writing-mode: horizontal-tb;
    transform: rotate(0);
    margin: 0;
    font-size: 1.1rem;
  }


  .hero-photo {
    width: 100%;
  }

  .bio {
    width: 100%;
  }

  .bio-container {
    margin: 25px 0;
    padding: 0 45px;
    font-size: 1.2rem;
  }

  .card-container {
    width: 100%
  }

  .articoli {
    height: 100%;
  }

  .press-container {
    flex-direction: column;
  }

  .articolo-container {
    width: 85%;
    margin: 15px auto;
  }
}